/*Here is the CSS part*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
         body {
            color: cadetblue;
            background-color: azure;
        }         
            h1,h2,h3,h4{
            color:cornflowerblue ;
         }
            h1{font-family: 'Dancing Script', cursive;}
        p{
            border: 2px solid orange;
            border-radius: 15px;
            width: 17%;
            padding:5px;
            font-family: 'Piazzolla',serif;
        }
    .center {
    margin:auto;
    width:60%;
    }