/* navigation menu css*/

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #99c2ff;
}

.nav li {
  float: left;
}

.nav li a {
    display: block;
    color: ghostwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27;
    font-family: 'Akaya Telivigala', cursive;
}

.nav li a:hover:not(.active) {
    background-color:#66a3ff;
    
}

#active {
    background-color: #fff2e6;
    color: #ffa366;
}
